.container {
    width: 100%;
    height: 500px;

    display: flex;

    border: 1px solid black;
}

.containerLeft {
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    font-family: var(--font-text);
    color: var(--c-darkgray);
}

.containerRight {
    width: 50%;
    height: 100%;
}

.upperText {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.mainText {
    font-weight: 700;
    font-size: 80px;
}